.idea/codeStyles/
.idea/inspectionProfiles/
.idea/libraries/
.idea/shelf/
.idea/checkstyle-idea.xml
.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/workspace.xml
target/
*.iml
